{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
{% endblock %}
