<!DOCTYPE html>
<html class="disable-scrollbars" lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>

        {% block head %}

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        <meta charset="utf-8" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@500" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="theme/css/normalize.css">
        <link rel="stylesheet" href="theme/css/skeleton.css">
        <link rel="stylesheet" href="theme/css/mao.css">
        <link rel="icon" type="image/png" href="images/favicon.pnf">

        {% endblock head %}

    </head>

    <body id="body" class="body disable-scrollbars">
        
        <div class="container nav">
            <div class="row">
                <div class="nav">
                <ul class="menu">
                    {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %} 
                </ul>
                </div>
            </div>
        </div>

        <div class="container content">    
            {% block content %}
            {% endblock %}
        </div>

        <footer id="foot" class="foot">
            <div class="foot"></div>
        </footer>
    </body>
</html>
