{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<ul id="">
{% for article in articles_page.object_list if article.category.name == 'articles' %}
        <li>
            <a class="ls" href="{{ article.url }}" rel="bookmark" title="link to {{ article.title }}">{{ article.title }}</a>
        </li>
{% endfor %}
</ul>
{% endblock content %}
