{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h2>{{ page.title }}</h1>

    <p>{{ page.content }}</p>

{% endblock %}
