html {
  font-size: 70%;
}

ul {
  list-style: none;
}

div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
a { 
  color: #6AC; 
  text-decoration: none;
}

a:hover { 
  color: #666; 
  text-decoration: none;
}

a.ls { 
  color: #666; 
  text-decoration: none; 
}

a.ls:hover { 
  color: #6AC; 
  text-decorations: none:
}

h1 { 
  font-size: 2rem;
  color: #6AC;
  margin: 0 0;
  padding: 0 0 1rem 0;
}

h2 { 
  font-size: 1.5rem; 
  color: #6AC;
  margin: 0 0;
  padding: 1rem 0 1rem 0;
}

h3 { 
  font-size: 1.25rem;
  margin: 0 0;
  padding 0 0 1rem 0;
}

h4 { 
  font-size: 1.25rem;
  margin: 0 0;
  padding: 0 0 1rem 0;
 }

h5 { 
  font-size: 1rem; 
  margin: 0 0;
  padding: 0 0 1rem 0;
}

h6 { 
  font-size: 1rem;
  color: #666;
  margin: 0 0;
  padding: 1rem 0 .5rem 1rem;
}

body {
  color: #666;
  background-color: #111;
  scrollbar-width: none;
  line-height: 1rem;
}

.container {
  padding: 1.5rem;
}

.container.nav {
  font-size: 1rem;
  width: 90%;
  padding: 3rem 0 3rem 0;
}

.nav {
  padding: 2.5rem 0 0 0;
}

.nav ul { margin: 0 0 0 0; }
.nav ul li {
  display: inline;
  margin: 0 0;
  list-style-type: none;
  padding: 0 .5rem 0 0;
  font-size: 1rem;
}

.nav a {
  text-decoration: none;
  font-size: 2rem;
}

.nav a:hover {
  text-decoration: none;
}

.menu ul li {
  display: inline;
}

.content { padding: 1rem; }

.content p { 
  padding: 0 0 0 1rem;
  margin-bottom: 0;
}

pre {

}

code {
  background: #111;
  border: none;
}

::-webkit-scrollbar { display: none; }


.disable-scrollbars * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.foot {
  padding: 9em 0em;
}
